@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: black;
  /* background: #333; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  max-width: 120%;
}

.navbar {
  background: #149414;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.header {
  background: white;
}

.projects-header {
  display: flex;
  color: black;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

/* Card Effects */

/* skills section */

.skills,
hr {
  color: black;
}

h3 {
  text-align: center;
}

/* .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #149414;
  color: #fff;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightgreen;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
} */

/* ----header start---- */
/* 
/* .header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
} */

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* @media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
  }
} */
