@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:host ::ng-deep .animate-fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

:host ::ng-deep .btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.4),
    0 2px 4px -2px rgba(79, 70, 229, 0.4);
}
