@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

.section-title {
  @apply relative inline-block pb-2 mb-8;
}

.section-title::after {
  content: '';
  @apply absolute bottom-0 left-0 w-1/2 h-1 bg-indigo-600 rounded-full;
}

.btn-primary:hover {
  @apply -translate-y-0.5;
  box-shadow: 0 4px 6px -1px rgba(79, 70, 229, 0.4), 0 2px 4px -2px rgba(79, 70, 229, 0.4);
}

.card {
  @apply bg-gray-800 p-6 rounded-2xl shadow-xl border border-gray-700 hover:shadow-indigo-500/30 transition duration-300;
}
